@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-track{
  background-color:#def3f6;
}
::-webkit-scrollbar-thumb{
  background-image:linear-gradient(#76b6c4, #1da2d8);
  border-radius: 5px;
}


html { 
  width: 100%;
  height: 100%;
  margin:0%;

  animation-name: fadein;
  animation-duration: 5s;
  animation-delay: 5s;
  font-family: 'Josefin Sans', sans-serif;

}
@keyframes fadein{
  from{ opacity: 0;}
  to{opacity:1;}
}
#header-logo{
  display:inline-block;
  margin-left:3%;
  width:206px;
  height:170px;
}
head{
  margin:0px;
}
body{
  margin: 0px;
}
header{
  background-image:linear-gradient(to bottom,rgba(6,66,115,0.9) 20% ,rgba(118,182,196,0.7)),
  url('https://img.freepik.com/premium-vector/great-wave-japan-ocean-seamless-pattern-background-wallpaper_149225-74.jpg?w=2000');
  background-size: cover;
  height:300px;
  padding:0%;
}
nav{
  margin:0%;
  width: absolute;
  text-align:right;
  padding-top: 2%;
  font-size: 30px;
}
.nav-link{
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px 20px;
  text-decoration:none;
  padding-left:5%;
  padding-right:5%;
  margin-right:2%;
  padding-top: 5px;
  background-color: #064273;
  color:white;
}
.nav-link:hover{
  border-radius: 10px 20px;
  text-decoration:none;
  padding-left:5%;
  padding-right:5%;
  background-color: #1da2d8;
  color:white;
}

h1{
  color:  #064273;
}
h2{
  color: #075a9e;
}
h3{
  color: #075a9e;
}

#aboutus-content{
  background-image: linear-gradient(#76b6c4, #1da2d8);
  padding: 1%;
  font-family: 'Josefin Sans', sans-serif;
}
#aboutus-content-inner h2{
  text-align:center;
}
#aboutus-content-inner{
  background-color: #def3f6;
  border-radius: 10px 20px;
  padding: 1%;
}


#hoc-intro{
  background-image: linear-gradient(#76b6c4, #1da2d8);
  padding: 1%;
  font-family: 'Josefin Sans', sans-serif;
}
#hoc-intro-inner h2{
  text-align:center;
}
#hoc-intro-inner{
  background-color: #def3f6;
  border-radius: 10px 20px;
  padding: 1%;
}

.section{
  background-image: linear-gradient(#1da2d8, #76b6c4);
  padding:2%;
  display:flex;
  justify-content:center;
  align-items:center;
  
}

.yes{
  background-color: #1da2d8;
  border-radius: 10px 20px;
  padding-left:1%;
  padding-right:1%;
}
.no{
  background-color: #1da2d8;
  border-radius: 10px 20px;
  padding-left:1%;
  padding-right:1%;
}

#article{
  background-image: linear-gradient(#76b6c4, #1da2d8);
  padding: 2%;
}
#inner-article{
  background-color: #def3f6;
  border-radius: 10px 20px;
  padding: 1%;
  padding-left:3%;
}
#logo{
  background-image: linear-gradient(#1da2d8, #7fcdff);
  padding: 2%;
}
#inner-logo{
  background-color: #def3f6;
  border-radius: 10px 20px;
  padding: 1%;
  padding-left:3%;
}
#members{
  background-image: linear-gradient(#7fcdff,#def3f6);
  padding: 2%;
}
#inner-members{
  background-color: #def3f6;
  border-radius: 10px 20px;
  padding: 1%;
  padding-left:3%;
}

#ibrahim, #maryam, #yusif, #yashar{
  padding-left: 1%;
  padding-right:1%;
  margin-top:2%;
  margin-bottom:2%;
  margin-left:1.4%;
  display:inline-block;
  background-color: #def3f6;
  border-radius: 10px 20px;
  text-align:center;
  font-size:14px;
  align-items: center;
}
#ibrahim1, #maryam1, #yusif1, #yashar1{
  padding:0.5%;
  background-color: #def3f6;
  border-radius: 10px 20px;
  text-align:center;
  font-size:14px;
  align-items: center;
}
.hobby{
  font-size:17px;
  padding-left:1%;
  padding-right:1%;
}

#member-table{
  font-family: 'Josefin Sans', sans-serif;
}
#hobby-table{
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(#1da2d8, #76b6c4);
  padding:3%;
}

table, th, td {
  border:1px solid #def3f6 ;
  margin:auto;
}
th, td{
  border-radius: 10px 20px;
  padding:2%;
  width:10%;
  background-color: #def3f6;
  text-align:center;
  font-family: 'Josefin Sans', sans-serif;
}
#member-table{
  background-image: linear-gradient(#76b6c4, #1da2d8);
}
#table{
  background-image: linear-gradient(#1da2d8, #7fcdff);
  padding-top:2%;
  padding-bottom:2%;
}
#table td{
  font-family: 'Josefin Sans', sans-serif;
}

.slider{
  width:800px;
  height:500px;
  border-radius:10px;
  overflow:hidden;
}
.slide{
  width:500%;
  height:500px;
  display:flex;
}
.slide input{
  display:none;
}
.photo{
  width:20%;
  transition:2s;
}
.photo img{
  width:800px;
  height:500px;
}
.nav-m{
  position:absolute;
  width:800px;
  margin-top:-40px;
  justify-content: center;
  display:flex;
}
.m-btn{
  border:2px solid #1da2d8;
  padding:5px;
  border-radius: 10px;
  cursor:pointer;
  transition:1s;
}
.m-btn:not(:last-child){
  margin-right:30px;
}
.m-btn:hover{
  background-color:#1da2d8; 
}
#radio1:checked ~.first{
  margin-left:0;

}
#radio2:checked ~.first{
  margin-left:-20%;
  
}
#radio3:checked ~.first{
  margin-left:-40%;
  
}
#radio4:checked ~.first{
  margin-left:-60%;
  
}
#radio5:checked ~.first{
  margin-left:-80%;
  
}
#radio6:checked ~.first{
  margin-left:-100%;;
  
}

.nav-auto{
  position:absolute;
  width:800px;
  margin-top:460px;
  display:flex;
  justify-content: center;
}
.nav-auto div{
  border: 2px solid #1da2d8;
  padding:5px;
  border-radius:10px;
  transition:1s;
}
.nav-auto div:not(:last-child){
  margin-right:30px;
  justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
  background-color: #1da2d8;
}
#radio2:checked ~ .nav-auto .a-b2{
  background-color: #1da2d8;
}
#radio3:checked ~ .nav-auto .a-b3{
  background-color: #1da2d8;
}
#radio4:checked ~ .nav-auto .a-b4{
  background-color: #1da2d8;
}
#radio5:checked ~ .nav-auto .a-b5{
  background-color: #1da2d8;
}
#radio6:checked ~ .nav-auto .a-b6{
  background-color: #1da2d8;
}

#c{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1da2d8;
  padding-left:100%;
  padding-top:0%;
  height:250%;
}

#circle{
  position:absolute;
  top:20%;
  left:50%;
  transform:translate(-50%,-50%);
  width:300px;
  height:300px;
  background-color:#def3f6;
  border: 5px solid #fff;
  box-shadow: 0 0 0 5px #0f5e7e;
  border-radius: 50%;
  overflow:hidden;
}
#wave{
  position:relative;
  width:100%;
  height:100%;
  background-color:rgb(15, 94, 126);
  border-radius:50%;
  box-shadow:inset 0 0 50px rgba(15, 94, 126,0.5);
}

#wave::before,#wave::after{
  content:'';
  position:absolute;
  width:200%;
  height:200%;
  top:0px;
  left:50%;
  transform:translate(-50%,-75%);
  background-color:rgb(222, 243, 246);
}

#wave::before{
  border-radius: 45%;
  background-color: rgba(222, 243, 246,1);
  animation:animate 8s linear infinite;
}
#wave::after{
  border-radius: 40%;
  background-color: rgba(222, 243, 246, 0.5);
  animation:animate 8s linear infinite;
}

@keyframes animate{
  0%{
    transform:translate(-50%,-70%) rotate(0deg);
  }
  100%{
    transform:translate(-50%,-70%) rotate(360deg);
  }
}
.fb-logo{
  width:35px;
  height:35px;
  border-radius: 25px;
}
#footer-inner{
  border-radius: 10px 20px;
  background-color: rgb(222, 243, 246,0.5);
  padding:1%;
}
footer{
  background-image:linear-gradient(to bottom,rgba(118,182,196,0.7) 20%, rgba(6,66,115,0.9)),
  url('https://img.freepik.com/premium-vector/great-wave-japan-ocean-seamless-pattern-background-wallpaper_149225-74.jpg?w=2000');
  padding:5px;
}
