


#article-title{
    font-family: cursive;
}
h1 {
    color: aquamarine;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: 'Garamond';
    font-weight: bold;
    text-align:center;
  }
  h2{
    text-align:center;

  }
  img{
    text-align:center;
  }
